# Idea folder
.idea/*
# Build & dep folder
.nuxt/*
dist/*
node_modules/*
coverage/*
# Sw file
src/static/sw.js
sitemap.xml
src/assets/img/.DS_Store
src/assets/.DS_Store
src/assets/img/vehicles/.DS_Store
.env
src/static/meta/.DS_Store
src/static/.DS_Store
src/.DS_Store
