main{
  padding-bottom: 5%;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

body>.container {
  padding-top: 3%;
}

.padder {
  padding-top: 3%;
}

.minitext{
  font-size: 50%;
}

#instafeed {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#instafeed a {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  background: white;
}
@media only screen and (min-width: 580px) {
  #instafeed a {
    width: 25%;
  }
}
#instafeed a img {
  display: block;
  width: 100%;
}

img{
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment:fixed;
}

.navbar{
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.site-title {
  color: #a32525 !important;
  font-size: 1.778em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.5pt;
}